$color: #ff6e66;
$color1: #f7c9c7;
$color2: #f3fefe;

body {
    font-size: 0.78rem;
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    line-height: 1.6;
}

.nav {
    background: $color;
    color: #ffff;
    .label {
        font-size: 14px;
    }
}

.footer {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: $color1;
}

.router-link-active {
    color: $color;
}

.item {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .product-img {
        object-fit: cover;
        width: 180px;
        height: 120px;
    }
    .icon {
        background: $color1;
        color: $color;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.discount-percent {
    color: $color;
    font-size: 10px;
}

.special-price {
    font-size: 12px;
}

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    top: 60px;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
		display: none;
	}
    .active {
        width: 30px;
        height: 3px;
        background: rgb(255, 110, 102);
        position: absolute;
        bottom: 0px;
        margin: 0px auto;
        left: 1px;
        right: 1px;
        border-radius: 10px;
    }
}

.category-box {
    width: 90px;
}

.tab {
    cursor: pointer;
    .active {
        width: 30px;
        height: 3px;
        background: rgb(255, 110, 102);
        position: absolute;
        bottom: 0px;
        margin: 0px auto;
        left: 1px;
        right: 1px;
        border-radius: 10px;
    }
  }

.tabsContainer {
    overflow: hidden;
    .tabsContent {
      transition: 0.5s all;
      display: flex;
        .tabContent {
            padding: 0.7rem;
            min-width: 100%;
            min-height: 100%;
        }
    }
  }

.desc-bg {
    background: $color2;
}

.photo-bg {
    background: $color2;
}

.shop-bg {
    background: $color2;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        .modal-container {
            width: 300px;
            margin: 0px auto;
            padding: 20px 30px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
            transition: all 0.3s ease;
            font-family: Helvetica, Arial, sans-serif;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            .modal-header {
                margin-top: 0;
                color: #42b983;
            }
            .modal-body {
                margin: 20px 0;
            }
            .modal-footer {
                .modal-default-button {
                    float: right;
                }
            }
        }
    }
}
.modal-leave-active {
    opacity: 0;
}


